@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="text-center" >About</h1>
    <p><Big>
        Это проект предназначен для ведения учета наличия продукции на складе, составления заказов а также администрированием данных</Big>
    </p>
    <p><Big>
        Администратор может манипулировать данными:
    </Big></p>
    <ul>
        <li>Продукция
            <ul>
                <li>
                    Добавление
                </li>
                <li>
                    Удаление
                </li>
                <li>
                    Редактирование
                </li>
            </ul>
        </li>
    </ul>
</div>
