@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h1 class="text-center" >About</h1>
    <p><Big>
        Это проект предназначен для ведения учета наличия продукции на складе, составления заказов а также администрированием данных</Big>
    </p>
    <p><Big>
        Администратор может манипулировать данными:
    </Big></p>
    <ul>
        <li>Продукция
            <ul>
                <li>
                    Добавление
                </li>
                <li>
                    Удаление
                </li>
                <li>
                    Редактирование
                </li>
            </ul>
        </li>
        <li>
            Поставщики
            <ul>
                <li>
                    Добавление
                </li>
                <li>
                    Редактирование
                </li>
                <li>
                    Удаление
                </li>
            </ul>
        </li>
        <li>
            Заказы
            <ul>
                <li>
                    Просмотр
                </li>
                <li>
                    Удаление
                </li>
            </ul>
        </li>
    </ul>
    <p>
        <Big>
            Пользователь может:
        </Big>
    </p>
    <ul>
        <li>
            Просмотивать список товаров
        </li>
    </ul>
    <p><Big>
        Авторизированный пользователь может:
    </Big></p>
    <ul>
        <li>
            Просматривать список товаров
        </li>
        <li>
            Просмотривать корзину
        </li>
        <li>
            Добавлять товары в корзину
        </li>
    </ul>
</div>
