@model IEnumerable<Production.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Заказы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Сумма заказа
            </th>
            <th>
                Заказчик
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.summa)
            </td>
            <td name="items">
                <div id="itemm">
                @Html.DisplayFor(modelItem => item.items)
                </div>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Подробнее</a> 
                <a asp-action="Delete" asp-route-id="@item.id" class="btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    var strings=document.getElementsByName("items");
    console.log(strings);
    for (var i = 0; i < strings.length; i++) {
        var string = strings[i].innerText;
        var json = JSON.parse(string);
        console.log(json[0].user_id);
        strings[i].removeChild(document.getElementById("itemm"));
        var p = document.createElement("p");
        p.innerText = json[0].user_id;
        strings[i].appendChild(p);   
    }
</script>
