@model Production.Models.Materials

@{
    ViewData["Title"] = "Add materials";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Materials</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- <label asp-for="materialname" class="control-label"></label> -->
                <p>Name</p>
                <input asp-for="materialname" class="form-control" />
                <span asp-validation-for="materialname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="amount" class="control-label"></label> -->
                <p>Amount</p>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group" id="manufacturer">
                <!-- <label asp-for="m_id" class="control-label"></label> -->
                <p>Manufacturer</p>
                <span asp-validation-for="m_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
<script>
    let requestPath = window.location.origin+ '/Manufacturers/GetAll';
    fetch(requestPath)
        .then(res => {
            res.json()
                .then(function(result) {
                    var manufacturers = JSON.parse(result);
                    console.log(manufacturers);
                    var myDiv = document.getElementById("manufacturer");
                    var select = document.createElement("select")
                    select.id = "m_select";
                    select.name = "m_id";
                    select.setAttribute('asp-for','m_id');
                    select.className = "form-control";
                    myDiv.appendChild(select);
                    for (var i = 0; i < manufacturers.length; i++) {
                        var option = document.createElement("option");
                        option.value = manufacturers[i].id;
                        option.text = manufacturers[i].Name;
                        select.appendChild(option);
                    }
                })
                .catch(err => console.log(err))
        })
        .catch(err => console.log(err));
</script>
