@model Production.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!-- <label asp-for="p_name" class="control-label"></label> -->
                <p>Name</p>
                <input asp-for="p_name" class="form-control" />
                <span asp-validation-for="p_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="description" class="control-label"></label> -->
                <p>Description</p>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="amount" class="control-label"></label> -->
                <p>Amount</p>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="price" class="control-label"></label> -->
                <p>Price</p>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group" id="material_select">
                <!-- <label asp-for="material_id" class="control-label"></label> -->
                <p>Material</p>
                <span asp-validation-for="material_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="material" class="control-label"></label> -->
                <p>Amount of material</p>
                <input asp-for="material" class="form-control" />
                <span asp-validation-for="material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    let path = window.location.origin;
    let requestPath = path+'/Products/GetMaterials';
    
    console.log(requestPath);
    fetch(requestPath)
        .then((result) => {
            result.json()
                .then(function(res) {
                    var materials = JSON.parse(res);
                    var myDiv = document.getElementById("material_select");
                    var select = document.createElement("select")
                    select.id = "testselect";
                    select.name = "material_id";
                    select.setAttribute('asp-for',"material_id");
                    select.className = "form-control";
                    myDiv.appendChild(select);
                    for (var i = 0; i < materials.length; i++) {
                        var option = document.createElement("option");
                        option.value = materials[i].id;
                        option.text = materials[i].materialname;
                        select.appendChild(option);
                        console.log(typeof(option.value));
                    }

                })
        })
        .catch((err) => console.log(err));
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
