@model Production.Models.Product

@{
    ViewData["Title"] = "Details";
}


    
<h1>Подробности</h1>

<div>
    <h4>@Html.DisplayFor(model => model.p_name)</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <!-- <input name="amount" type="text" max="model. amount"/> -->
    
@if (User.Identity.Name == "admin@admin.net") {
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> 
}
    <a asp-action="Index">Back to List</a>
</div>
